*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif ;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0) ;
    color: rgb(233, 238, 239);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/Background.png.jpg) ;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
   
}

nav{
 display: flex;
 align-items: center;
 justify-content: space-between; 
 flex-wrap: wrap ;  
}

.logo{
    width: 140px;
}

nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
}

nav ul li a{
    color: rgb(46, 180, 232);
    text-decoration: none; 
    font-size:28px;
    position: relative; 
}

nav ul li a::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: blue;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top:20% ;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: rgb(32, 138, 230);
}

/* ---------about ----------*/
#about{
    padding: 80px 0;
    color: white(188, 255, 248);
}


.row{
    display: flex;
    justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;

}

.about-col-1{
/* width: 100%; */
flex-basis: 35%;
}

.about-col-1 img{
    
    width: 100%;
    border-radius: 15px;
    max-width: 380%;  /* prevents overflow */
    height: auto;
}


.about-col-2{
    flex-basis: 60%;
    text-align: left;
    order: 0;

    /*  */
   

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(76, 190, 221);
   
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
  

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: cadetblue;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0,5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
   list-style: none;
   margin: 10px 0;
}
/* skills */
.tab-contents ul li span{
    color: rgb(4, 81, 176);
    font-size:14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------------service---- */
#services{
    padding: 50px 0;
}
.services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }


.services-list div {
    background: #646262;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
            
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  }

.services-list div a {
    text-decoration: none;
    color: blue;
     font-size: 12px;
     margin-top: 20px;
     display: inline-block;
}

.services-list div:hover{
    background:rgb(50, 138, 175) ;
    transform: translateY(-10px);
}
/* ----------portfolio----- */
#portfolio{
    padding: 50px 0;
}

.work-list{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#07c5ff);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center ;
    font-size: 14px ;
    transition: height 0.5s;
}

.layer h2{
    font-weight: 500;
    margin-bottom: 10px;
}
/* ---link--- */
.layer a{
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-size: 14px;
    line-height: 45px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
     
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid#07c5ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white ;
    transition: backgraound 0.5s;
}
.btn:hover{
    background: #07c5ff;
}